<div class="relative">
    <img src="assets/images/recetas1.jpg" class="w-9/12 mx-auto" alt="Montadito hecho de patatas">
    <div class="absolute hidden md:block bottom-0 left-1/2 transform -translate-x-1/2 w-4/6 mb-1 p-5 bg-white bg-opacity-70 text-black text-center">
      <h5 class="font-title text-2xl mb-2">Montadito de patatas</h5>
      <p class="font-sans text-lg mb-4">Un delicioso montadito que sustituye el pan por patata para deleitar tu paladar.</p>
    </div>
    <div class="absolute bottom-2 left-0 right-0 z-1 flex items-center justify-center">
      <button type="button" class="btn-slide" data-carousel-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" class="btn-slide" data-carousel-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" class="btn-slide" data-carousel-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" class="btn-slide" data-carousel-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" class="btn-slide" data-carousel-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" class="btn-slide" data-carousel-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <button class="absolute top-1/2 left-4 transform -translate-y-1/2 p-4 text-2xl text-gray-500 focus:outline-none z-20">
      <span>&lt;</span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="absolute top-1/2 right-4 transform -translate-y-1/2 p-4 text-2xl text-gray-500 focus:outline-none z-20">
      <span>&gt;</span>
      <span class="sr-only">Next</span>
    </button>
  </div>