<footer class="footer bg-secondary font-title mt-8 p-12 text-center md:text-left">
  <div class="footer__container flex flex-col md:flex-row justify-between items-center text-white mx-4">
    <div class="footer__contact">
      <h4 class="footer__title text-3xl">Contacto</h4>
      <p class="footer__info text-xl">Dirección: 123 Calle Principal, Cornellà de Llobregat</p>
      <p class="footer__info text-xl">Teléfono: +123456789</p>
      <p class="footer__info text-xl">Email: info@fiestascornella.com</p>
    </div>
    <div class="footer__links w-full md:w-auto text-right uppercase">
      <ul class="footer__list flex flex-row justify-between items-center w-full md:flex-col md:items-start md:w-auto  text-xl">
        <li class="footer__item text-center "><a href="" class="footer__link mb-3 font-bold hover:underline block">Inicio</a></li>
        <li class="footer__item text-center"><a href="" class="footer__link mb-3 font-bold hover:underline block">Chefs</a></li>
        <li class="footer__item text-center"><a href="" class="footer__link mb-3 font-bold hover:underline block">Blog</a></li>
        <li class="footer__item text-center"><a href="" class="footer__link mb-3 font-bold hover:underline block">Apúntate</a></li>
      </ul>
    </div>
  </div>
</footer>