<header class="header flex row text-left justify-between items-center m-6 md:m-10 lg:mx-24">
    <img src="./assets/images/logo.png" class="w-32" alt="Logo ficticio del Ayuntamiento de Cornellá de Llobregat" class="header__logo">
    <nav class="header__nav ">
        <div class="header__collapse w-max text-primary uppercase">
            <ul class="header__list flex flex-col md:flex-row items-end text-xl px-6">
                <li class="header__item  ">
                    <a class="header__link" href="">Inicio</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="chefs.html">Chefs</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="informacion.html">Blog</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">Apúntate</a>
                </li>
            </ul>
        </div>
    </nav>
</header>