<table class="min-w-full border border-gray-300 text-center text-lg">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="cell">Hora</th>
        <th class="cell">Entretenimiento</th>
        <th class="cell">Talleres</th>
        <th class="cell">Cocina y cata</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class= "cell">12:30</td>
        <td class="cell" rowspan="2">Apertura del concurso</td>
        <td class="cell bg-children">Taller de cocina</td>
        <td class="cell bg-red-400">Demostraciones culinarias</td>
      </tr>
      <tr>
        <td class="cell">13:30</td>
        <td class="cell bg-children">Taller de manualidades</td>
        <td class="cell bg-red-400">Cata de vinos</td>
      </tr>
      <tr>
        <td class="cell">14:30</td>
        <td class="cell bg-children" rowspan="2">Juegos infantiles</td>
        <td class="cell">Espectáculo de cocina en vivo</td>
        <td class="cell">Concurso de postres</td>
      </tr>
      <tr>
        <td class="cell">15:30</td>
        <td class="cell">Taller de repostería</td>
        <td class="cell bg-red-400">Talleres de coctelería</td>
      </tr>
      <tr>
        <td class="cell">16:30</td>
        <td class="cell bg-children">Pintura facial</td>
        <td class="cell bg-red-400">Charlas sobre alimentación saludable</td>
        <td class="cell">Competición de platos temáticos</td>
      </tr>
      <tr>
        <td class="cell">17:30</td>
        <td class="cell bg-children">Show de música en directo</td>
        <td class="cell">Presentación de nuevos productos</td>
        <td class="cell bg-red-400">Maridaje de quesos y vinos</td>
      </tr>
      <tr>
        <td class="cell">18:30</td>
        <td class="cell bg-children">Espectáculo de magia</td>
        <td class="cell" rowspan="2">Clases de cocina gourmet</td>
        <td class="cell">Concurso de tapas</td>
      </tr>
      <tr>
        <td class="cell">19:30</td>
        <td class="cell bg-children">Finalización de actividades para niños</td>
        <td class="cell">Entrega de premios</td>
      </tr>
      <tr>
        <td class="cell">20:30</td>
        <td class="cell"></td>
        <td class="cell">Sesión de DJ</td>
        <td class="cell"></td>
      </tr>
    </tbody>
  </table>